[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
Pillow = "*"
ipython = "*"
svgwrite = "*"
Pygame = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.6"
